<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>ProEcommerce</display-name>
	<servlet>
		<servlet-name>ResisterDao</servlet-name>
		<display-name>ResisterDao</display-name>
		<description></description>
		<servlet-class>Dao.ResisterDao</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginDao</servlet-name>
		<display-name>LoginDao</display-name>
		<description></description>
		<servlet-class>Dao.LoginDao</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>kk</servlet-name>
		<display-name>kk</display-name>
		<description></description>
		<servlet-class>servlets.kk</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOutServ</servlet-name>
		<display-name>LogOutServ</display-name>
		<description></description>
		<servlet-class>servlets.LogOutServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductServ</servlet-name>
		<display-name>ProductServ</display-name>
		<description></description>
		<servlet-class>servlets.ProductServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductCategoryServ</servlet-name>
		<display-name>ProductCategoryServ</display-name>
		<description></description>
		<servlet-class>servlets.ProductCategoryServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductServlet2</servlet-name>
		<display-name>ProductServlet2</display-name>
		<description></description>
		<servlet-class>servlets.ProductServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<display-name>CartServlet</display-name>
		<description></description>
		<servlet-class>servlets.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletCart</servlet-name>
		<display-name>ServletCart</display-name>
		<description></description>
		<servlet-class>servlets.ServletCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sellCart</servlet-name>
		<display-name>sellCart</display-name>
		<description></description>
		<servlet-class>servlets.sellCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IncAndDecreServlet</servlet-name>
		<display-name>IncAndDecreServlet</display-name>
		<description></description>
		<servlet-class>servlets.IncAndDecreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveProductToCart</servlet-name>
		<display-name>RemoveProductToCart</display-name>
		<description></description>
		<servlet-class>servlets.RemoveProductToCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OderProductServ</servlet-name>
		<display-name>OderProductServ</display-name>
		<description></description>
		<servlet-class>servlets.OderProductServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BillPdfServ</servlet-name>
		<display-name>BillPdfServ</display-name>
		<description></description>
		<servlet-class>servlets.BillPdfServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchDataOnline</servlet-name>
		<display-name>FetchDataOnline</display-name>
		<description></description>
		<servlet-class>servlets.FetchDataOnline</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResisterDao</servlet-name>
		<url-pattern>/ResisterDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginDao</servlet-name>
		<url-pattern>/LoginDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kk</servlet-name>
		<url-pattern>/kk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServ</servlet-name>
		<url-pattern>/LogOutServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServ</servlet-name>
		<url-pattern>/ProductServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductCategoryServ</servlet-name>
		<url-pattern>/ProductCategoryServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet2</servlet-name>
		<url-pattern>/ProductServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCart</servlet-name>
		<url-pattern>/ServletCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sellCart</servlet-name>
		<url-pattern>/sellCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncAndDecreServlet</servlet-name>
		<url-pattern>/IncAndDecreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveProductToCart</servlet-name>
		<url-pattern>/remove-product-to-cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OderProductServ</servlet-name>
		<url-pattern>/OderProductServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillPdfServ</servlet-name>
		<url-pattern>/BillPdfServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchDataOnline</servlet-name>
		<url-pattern>/FetchDataOnline</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
